@use '../global.module.scss' as *;
@use '../variables' as vars;

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.image-banner_wrapper{
    animation: 1s ease-out 0s 1 slideInFromLeft;
    display: block;
    position: relative;
    height: 600px;
    margin: 1rem auto;
    border-radius: map-get(vars.$border-round, small);
    @include card-width(100%, 100%);

    img{
        border-radius: map-get(vars.$border-round, small);
        object-fit: cover;
        width: 100%;
    }
    
    .image-banner_content{
        position: absolute;
        margin: auto;
        z-index: 4;
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 2rem;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;

        h2{
            font-size: map-get(vars.$base-theme-font, xxxl);
            @include card-width(100%, 450px);
        }

        p{
            @include card-width(100%, 450px);
        }
        
        @media screen and (max-width: map-get(vars.$breakpoints, large)) {
            align-items: center;
            
            h2{
                font-size: map-get(vars.$base-theme-font, large);
            }
        }
    }

    .image-banner_cta_button{
        box-shadow: none;
        @include make-grid(2, 1fr, 1rem);
        color: #FFFFFF;
        padding: 1rem 0;

        .btn_viewall:hover{
            background-color: map-get(vars.$base-theme-color, quaternary);
            font-weight: 400;
        }
        
        .btn_shopnow:hover{
            font-weight: 400;
            background-color: map-get(vars.$base-theme-color, primary);
            color: map-get(vars.$base-theme-color, quaternary);
        }
    }
}
